{
  "USERNAME": "<USERNAME>", // e.g. your github account username
  "PROJECT": "<PROJECT>", // e.g. your github repo name
  "CIRCLECI_TOKEN": "<CIRCLECI_TOKEN>" // obtained from CircleCI
  "LIMIT": 20 // number of failed builds to analyse, Maximum of 100
}
